body {
  font-family: 'avenir', sans-serif;
}

textarea, input, button, select {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
}

.signup-form input {
  text-indent: 1.7rem;
}

.name-input {
  background: url(images/avatar.svg) no-repeat;
  background-position: .1rem .2rem;
  background-size: 1.8rem;
}

.first-name-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.last-name-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -5px;
  border-left: none;
}

.email-input {
  background: url(images/email.svg) no-repeat;
  background-position: .3rem .4rem;
  background-size: 1.4rem;
}

.brand-input {
  background: url(images/briefcase.svg) no-repeat;
  background-position: .3rem .3rem;
  background-size: 1.45rem;
}

.upc-input {
  background: url(images/barcode.svg) no-repeat;
  background-position: .05rem .05rem;
  background-size: 2rem;
}

.flex-1 {
  flex: 1;
}

.stock-bg {
  background-image: url(images/apples.png);
}
